@tailwind base;
@tailwind components;
@tailwind utilities;

@import "remixicon/fonts/remixicon.css";


/* Custom global styles */
html, body {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}
